---

---

<div
  class="bg-[url('/cta-bg.png')] bg-cover bg-center bg-no-repeat p-8 md:px-20 lg:px-40 md:py-12 mt-20 min-w-full flex items-center justify-between lg:justify-center lg:gap-10">
  <div class="grid flex-1">
    <h2 class="text-white text-lg md:text-xl tracking-tight">
      Exceptional Consultations
    </h2>
    <p class="text-slate-300 mt-4 text-xs md:text-sm">
      Just a Call Away: <span class="underline">234 (0) 803 712 3122</span>
    </p>
  </div>
  <div class="">
    <a
      href="#"
      class:list={[
        "border border-white text-white bg-transparent p-3 rounded",
      ]}>
      Talk to our experts
    </a>
  </div>
</div>
