---
type Feature = {
  title: string;
  desc: string;
  img: ImageMetadata;
};
export interface Props {
  features: Array<Feature>;
}
// @ts-ignore
import { Picture } from "astro:assets";

const { features } = Astro.props;
---

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="grid gap-4 items-start">
        <div class="mt-1 shrink-0">
          <Picture
            src={item.img}
            alt="engineering equipment"
            widths={[200, 400, 600]}
            sizes="(max-width: 800px) 100vw, 620px"
            loading="eager"
            format="avif"
          />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.desc}</p>
        </div>
      </div>
    ))
  }
</div>
