---
import Icon from "astro-icon";
---

<footer
  class="mt-20 grid items-start justify-start p-8 bg-[#2947A9] text-white">
  <div class="grid gap-4 lg:flex">
    <p class="flex gap-2">
      <Icon class="h-6" name="mdi:location" />
      1-2 Vio water close (yellow gate),off NPA by-pass NPA express warri
    </p>
    <p class="flex gap-2">
      <Icon class="h-6" name="mdi:phone" />
      +234 (0) 3712 3122
    </p>
    <p class="flex gap-2">
      <Icon class="h-6" name="mdi:mail" />
      hello@ruco.tech
    </p>
  </div>
  <div class="mt-20">
    <p class="text-sm text-slate-500">
      Copyright © {new Date().getFullYear()} Rucotech. All rights reserved.
    </p>
    <p class="text-xs text-slate-500 mt-1">
      Made by <a
        href="https://afullsnack.dev"
        target="_blank"
        rel="noopener"
        class="hover:underline">
        afullsnack
      </a>
    </p>
  </div>
</footer>
